  
<nav class="navbar bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fa-sharp fa-solid fa-building-columns mt-3 " ></i>
      

      <!-- <img src="#" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
   Online Bank
    </a>
  </div>
</nav>

<div>
  <div class="row container mt-5 ms-5">
<!-- https://i.postimg.cc/bYkn8pP9/Online-Mobile-Banking.webp -->
<!-- https://media.tenor.com/p0G_bmA2vSYAAAAd/login.gif -->
    <div class="col-4 ">
      <img width="500px"  height="500px" src="https://cdni.iconscout.com/illustration/premium/thumb/online-banking-and-transaction-for-business-3028103-2603118.png" alt=" no image">

    </div>
    <div class="col-8 mt-5">
      <form  (ngSubmit)="login()" [formGroup]="loginform">
        <div class="border border-4   text-center w-50 container mt-5">
            <i class="fa-sharp fa-solid fa-building-columns mt-3 " ></i>
            <div class="mt-5 mb-3 ms-3 me-3">
             <div>
            <input formControlName="acno" name="acno" class="form-control" placeholder="accound number" type="text">
        </div>
        <br>
        <!-- accound validation:using structural directive (*ngIf) -->
            <!-- <div *ngIf="this.loginform.get('acno')?.errors&&this.loginform.get('acno')?.touched" class="text-danger">
              Invalid Accound Number
            </div> -->
            <div>
            <input formControlName="pswd" name="pswd" class="form-control" placeholder="password" type="password">
        </div>
        <!-- <div *ngIf="this.loginform.get('pswd')?.errors&&this.loginform.get('pswd')?.touched" class="text-danger">
            Invalid password
          </div> -->
          <div *ngIf="emsg" style="color: red;"><b>{{emsg}}</b>
        
          </div>
        
            <br><br>
            <button *ngIf="!msg" type="submit" class="btn btn-primary" type="submit">log In</button> &nbsp;&nbsp;
            <!-- <span *ngIf="msg" class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </span> -->
        
            <button *ngIf="msg" class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
            new User? <a routerLink="register">register</a>
        </div>
        </div>
        </form>
    </div>


</div>
</div>

