  
<form (ngSubmit)="login()" [formGroup]="loginform">
<div class="border border-dark text-center w-25 container mt-5 ">
    <i class="fa-sharp fa-solid fa-building-columns mt-3 " ></i>
    <div class="mt-5 mb-3 ms-3 me-3">

    <input formControlName="acno" name="acno" class="form-control" placeholder="accound number" type="text">
    <br>
    <input formControlName="pswd" name="pswd" class="form-control" placeholder="password" type="password">
    <br><br>
    <button type="submit" class="btn btn-info" type="submit">log In</button>
    new User? &nbsp; <a href="">register here!</a>
</div>
</div>
</form>

